:root { 
--gray_600:#6f6e6e; 
--blue_900:#1035bb; 
--blue_gray_50:#edf0f3; 
--blue_gray_900_bf:#2b2b2bbf; 
--lime_800:#c39514; 
--gray_800:#615d31; 
--gray_900_99:#171c2499; 
--gray_900:#171c24; 
--blue_gray_900_b2:#2b2b2bb2; 
--blue_gray_900_7f:#2b2b2b7f; 
--red_400:#f44653; 
--gray_50:#fbfbfb; 
--gray_100:#f4f4f4; 
--gray_50_b2:#fbfbfbb2; 
--gray_50_1e:#fbfbfb1e; 
--yellow_700:#f4c02f; 
--blue_gray_900_1e:#2b2b2b1e; 
--blue_gray_900_00:#2b2b2b00; 
--blue_gray_900_99:#2b2b2b99; 
--blue_gray_900:#2b2b2b; 
--white_A700:#ffffff; 
}