
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/OrbitronExtraBold.ttf"); font-family : "Orbitron"; font-weight : 800;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/OrbitronBold.ttf"); font-family : "Orbitron"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/ManropeMedium.ttf"); font-family : "Manrope"; font-weight : 500;  }